/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@keyframes showH1 {
  100% {
    opacity: 1;
  }
}
*, *::after, *::before {
  font-family: inherit;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  font-family: "Lato", serif;
}

html, body {
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  width: 96%;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .container {
    width: 760px;
  }
}
@media screen and (min-width: 1024px) {
  .container {
    width: 1000px;
  }
}
@media screen and (min-width: 2024px) {
  .container {
    width: 1800px;
  }
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.col {
  flex: 0 0 100%;
  padding: 10px;
}
@media screen and (min-width: 768px) {
  .col-m-50 {
    flex-basis: 50%;
  }
}
@media screen and (min-width: 768px) {
  .col-m-33 {
    flex-basis: 33%;
  }
}
@media screen and (min-width: 768px) {
  .col-m-25 {
    flex-basis: 25%;
  }
}
@media screen and (min-width: 1024px) {
  .col-l-50 {
    flex-basis: 50%;
  }
}
@media screen and (min-width: 1024px) {
  .col-l-33 {
    flex-basis: 33%;
  }
}
@media screen and (min-width: 1024px) {
  .col-l-25 {
    flex-basis: 25%;
  }
}
@media screen and (min-width: 2024px) {
  .col-xl-20 {
    flex-basis: 20%;
  }
}

.nav {
  display: flex;
  align-items: center;
  font-size: 1.8rem;
  position: fixed;
  width: 100%;
  height: 7rem;
  color: #fff;
  z-index: 2;
  transition: 0.5s;
}
.nav span {
  font-size: 6rem;
}
@media screen and (min-width: 1024px) {
  .nav span {
    display: none;
  }
}
.nav ul {
  display: none;
}
@media screen and (min-width: 1024px) {
  .nav ul {
    display: block;
    display: flex;
    justify-content: flex-end;
  }
  .nav ul li {
    flex-basis: 15%;
    text-align: center;
  }
}

.logo {
  flex-basis: 50%;
  padding-left: 2%;
  font-size: 3.2rem;
}

.menu {
  flex-basis: 50%;
  padding-right: 2%;
  text-align: right;
}

.scroll-menu {
  background-color: black;
  padding: 2%;
}

.header {
  height: 100vh;
  color: #F2E6D8;
  background: url("../assets/img/bg_header_small.webp") center/cover fixed;
  position: relative;
}
.header::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.671);
  position: absolute;
}
@media screen and (min-width: 768px) {
  .header {
    background-image: url("../assets/img/bg_header_medium.webp");
  }
}
@media screen and (min-width: 1024px) {
  .header {
    background-image: url("../assets/img/bg_header_big.webp");
  }
}
.header div {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  animation: showH1 1.4s linear forwards;
}

.head-big-text {
  flex-basis: 20%;
  font-size: 3.6rem;
  text-align: center;
  padding: 1rem;
  line-height: 3ex;
}
@media screen and (min-width: 768px) {
  .head-big-text {
    font-size: 5rem;
  }
}
@media screen and (min-width: 1024px) {
  .head-big-text {
    font-size: 7rem;
  }
}
@media screen and (min-width: 2024px) {
  .head-big-text {
    font-size: 9rem;
  }
}

.btn-header-main {
  width: 120px;
  background-color: rgba(70, 89, 2, 0.6980392157);
  padding: 20px;
  border-radius: 5px;
  font-size: 1.8rem;
  text-align: center;
  transition: 0.5s;
}

.btn-header-main:hover, .btn-header-main:focus {
  transform: translateY(-10px);
  background-color: #465902;
}

section {
  min-height: 100vh;
  padding-top: 8rem;
}
section:nth-of-type(even) {
  background-color: lightgray;
}
section h2 {
  font-size: 3.4rem;
  text-align: center;
  margin-bottom: 4rem;
}

input, textarea, button {
  font-size: 1.7rem;
  display: block;
  margin-bottom: 2rem;
  border-radius: 0.6rem;
  border: 1px solid lightgray;
  transition: 0.5s;
}

input, textarea {
  width: 100%;
  padding: 2rem;
  resize: none;
  outline: 0;
}
input:focus, textarea:focus {
  border: 1px solid gray;
  background-color: #F2E6D8;
}

form button {
  width: 40%;
  padding: 1.5rem;
  background-color: gray;
}
form button:hover {
  opacity: 0.5;
  cursor: pointer;
}

/*# sourceMappingURL=style.css.map */
