*, *::after, *::before {
    font-family: inherit;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    font-family: "Lato", serif;
}

html, body {
    scroll-behavior: smooth;
}

a {
    color: inherit;
    text-decoration: none;
}

p {
    font-size: 1.6rem;
}

h3 {
    font-size: 1.8rem;
    padding: 1rem 0;
    font-weight: bold;
}
