@use 'variables' as v;
@use 'mixins' as *;

.header {
    height: 100vh;
    color: v.$color4;
    background: url('../assets/img/bg_header_small.webp') center/cover fixed;
    position: relative;

    &::after {
        content: '';
        display: block;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.671);
        position: absolute;
    } 

    @include media-queries {
        background-image: url('../assets/img/bg_header_medium.webp');
    }
    
    @include media-queries('l') {
        background-image: url('../assets/img/bg_header_big.webp');
    }  
    
    div {
        position: absolute;
        height: 100%;
        width: 100%;
        z-index: 1;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
        opacity: 0;
        animation: showH1 1.4s linear forwards;
    }
}

.head-big-text {
    flex-basis: 20%;
    font-size: 3.6rem;
    text-align: center;
    padding: 1rem;
    line-height: 3ex;

    @include media-queries {
        font-size: 5rem;
    }
    
    @include media-queries('l') {
        font-size: 7rem;
    }
    
    @include media-queries('xl') {
        font-size: 9rem;
    }
}

.btn-header-main {
    width: 120px;
    background-color: v.$color-btn-main;
    padding: 20px;
    border-radius: 5px;  
    font-size: 1.8rem;
    text-align: center;
    transition: .5s;
}

.btn-header-main:hover, .btn-header-main:focus {
    transform: translateY(-10px);
    background-color: v.$color-btn-main-hover;
}