section {
    min-height: 100vh;
    padding-top: 8rem;

    &:nth-of-type(even) {
        background-color: #F9F9F9;
    }

    h2 {
        font-size: 3.4rem;
        text-align: center;
        margin-bottom: 4rem;
    }
}
