@use 'variables' as *;
@use 'mixins' as *;

.nav {
    display: flex;
    align-items: center;
    font-size: 1.8rem;
    // background-color: $color-bg-nav;
    position: fixed;
    width: 100%;
    height: 7rem;
    color: #fff;
    z-index: 2;
    transition: .5s;
    
    span {
        font-size: 6rem;
        @include media-queries('l') {
            display: none;
        }
    }

    ul {
        display: none;
        
        @include media-queries('l') {
            display: flex;
            // justify-content: space-evenly;
            justify-content: flex-end;
            
            li {
                flex-basis: 15%;
                text-align: center;
            }

            a {
                display: block;
                width: 100%;
                transition: .4s;
                &:hover {
                    transform: translateY(-5px);
                }
            }
        }
    }
}

.logo {
    flex-basis: 50%;
    padding-left: 2%;
    
    a {
        font-size: 3.2rem;
    }
}

.menu {
    flex-basis: 50%;
    padding-right: 2%;
    text-align: right;
}

.scroll-menu {
    background-color: black;
    padding: 2%;
}
